@inherits UmbracoViewPage
<!DOCTYPE html>
<html lang="@Model.GetCulture().TwoLetterISOLanguageName" prefix="og: http://ogp.me/ns#">
<head>
    <!-- TODO: Remember to remove on live environment-->
    <meta NAME="robots" content="noindex, nofollow">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Html.CachedPartial("_Favicons", Model, 3600, false)
    @Html.CachedPartial("_OpenGraph", Model, 300, true)
    @Html.RenderCssHere()
</head>
<body>
    <main class="@Model.DocumentTypeAlias.ToLower()">
        @RenderBody()
    </main>

    <!-- ANALYTICS -->
    @Html.Raw(website.Analytics)
    <script src="~/assets/lib/jquery/dist/jquery.slim.min.js" type="text/javascript"></script>
    <script src="~/assets/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/assets/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/assets/lib/jquery-validation-unobtrusive-bootstrap/dist/unobtrusive-bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
    <script src="~/assets/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    @Html.RenderJsHere()
</body>
</html>