@model Umbraco.Forms.Mvc.Models.FieldViewModel
@{ var i = 0; }

<div class="checkboxlist form-group" id="@Model.Id">
@foreach (Umbraco.Forms.Mvc.Models.PrevalueViewModel pv in Model.PreValues)
{
    <div class="checkbox">
        <label for="@string.Concat(Model.Id,"_",i)">
            <input type="checkbox" name="@Model.Name" id="@string.Concat(Model.Id,"_",i)" value="@pv.Value"
                       @if (Model.Mandatory) {<text>data-val="true" data-val-requiredlist="@Model.RequiredErrorMessage"</text>}
                       @if (Model.ContainsValue(pv.Value)){<text>checked="checked"</text>}
                       />
            <span>@pv.Value</span>
        </label>
    </div>
    i++;
}
</div>