@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using UmbracoBootstrap.Web.Models;
@using UmbracoBootstrap.Web.Controllers;
@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();

    var changePasswordModel = new ChangePasswordModel();

    if (TempData["PasswordChangedSuccess"] != null)
    {
        <div class="alert alert-success" role="alert">
            @Umbraco.GetDictionaryValue("PasswordChangedSuccess", "PasswordChangedSuccess")
        </div>
    }

    using (Html.BeginUmbracoForm<MemberController>("HandleChangePassword", null, new { @role="form", @class="" }, FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(m => changePasswordModel.Password, new { @class = "control-label" })
            @Html.PasswordFor(m => changePasswordModel.Password, new { @class = "form-control", @autocomplete = "off" })
            @Html.ValidationMessageFor(m => changePasswordModel.Password)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => changePasswordModel.ConfirmPassword, new { @class = "control-label" })
            @Html.PasswordFor(m => changePasswordModel.ConfirmPassword, new { @class = "form-control", @autocomplete = "off" })
            @Html.ValidationMessageFor(m => changePasswordModel.ConfirmPassword)
        </div>

        <button type="submit" class="btn btn-success">@Umbraco.GetDictionaryValue("ChangePassword", "Change Password")</button>
    }
}
