@inherits UmbracoTemplatePage
@{ 
    Html.RequiresCss("~/assets/css/custom.css");
}
<!DOCTYPE html>
<html lang="@Model.CurrentCulture.TwoLetterISOLanguageName" prefix="og: http://ogp.me/ns#">
<head>
    <!-- TODO: Remember to remove on live environment-->
    <meta NAME="robots" content="noindex, nofollow">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Html.CachedPartial("_Favicons", Model, 3600, false)
    @Html.CachedPartial("_OpenGraph", Model, 300, true)
    
</head>
<body>
    <main class="@Model.Content.DocumentTypeAlias.ToLower()">
        @RenderBody()
    </main>

    <!-- Deferred Styles --> 
    <noscript id="deferred-styles">
      @Html.RenderCssHere()
    </noscript>
    <script>
      var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
      };
      var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
          window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
      if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
      else window.addEventListener('load', loadDeferredStyles);
    </script>

    <!-- ANALYTICS -->
    @*@Html.Raw(model.Analytics)*@
    <script src="~/assets/lib/jquery/dist/jquery.slim.min.js" type="text/javascript"></script>
    <script src="~/assets/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/assets/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/assets/lib/jquery-validation-unobtrusive-bootstrap/dist/unobtrusive-bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
    <script src="~/assets/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    
    <!-- Deferred Scripts -->
    @Html.RenderJsHere()
</body>
</html>