@inherits UmbracoTemplatePage
@{ 
    Html.RequiresCss("~/assets/css/custom.css");
    var site = Model.Content.Site();
}
<!DOCTYPE html>
<html lang="@Model.CurrentCulture.TwoLetterISOLanguageName" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Html.CachedPartial("_SEO", Model, 700, false)
    @Html.CachedPartial("_OpenGraph", Model, 300, true)
    @Html.CachedPartial("_Favicons", Model, 3600, false)
</head>
<body>
    @Html.Partial("_CookieConsent")
    <header class="mb-5">
        @Html.Partial("_SiteNavbar")
    </header>
    <main class="@Model.Content.DocumentTypeAlias.ToLower()">
        @RenderBody()
    </main>

    <!-- Deferred Styles --> 
    @*<noscript id="deferred-styles">*@
    @Html.RenderCssHere()
    @*</noscript>
    <script>
      var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
      };
      var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
          window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
      if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
      else window.addEventListener('load', loadDeferredStyles);
    </script>*@

    <!-- ANALYTICS -->
    @*@Html.Raw(model.Analytics)*@
    <!-- Deferred Scripts -->
    @Html.RenderJsHere()
</body>
</html>

@{ 
    Html.RequiresJsBundle("jquery");
    Html.RequiresJsBundle("bootstrap");

    //Html.RequiresJsBundle("globalize");
    Html.RequiresJsBundle("jquery.validation");
}